/* Global css styling for the apps */

body {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  width:100%;
  background: darkgrey;
}

body .container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto;
  width: auto;
}

body .container-fluid h1 {
  color: #fff;
  background: grey;
  text-align: center;
}

body .container-fluid h2 {
  color: #fff;
  background: grey;
  text-align: center;
}

body .container-fluid h3{
  color: #fff;
  background: grey;
  text-align: center;
  align-content: center;
}
